body{
    text-align: right;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;;
}
h1{
    font-family: 'Montserrat', sans-serif;
    padding-top: 300px;
    text-align: center;
    font-size: 60px;
}

h2.dark{
    margin-left: 17%;
    padding-top: 5%;
    padding-bottom: 5%;
}

div.card-body.dark{
    color: #818195;
}

h3{
    padding: 2%;
}

.rice{
text-align: left;
}

.services{
display: block;
text-align: left;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 24px;
}

.bg-light {
    background-color: white!important;
    height: 130px;
   
}

.container{
    background-color: white;
    max-width: 100%;

}

.s-height{
    height: 250px;
    max-width: 70%;
    margin: auto;
}
.medium-height{
    height: 650px;
}

.l-height{
    height: 850px;
}

.xl-height{
    height: 1200px;
}

.faq{
    height: 1500px;
    background-color:#15141a;
    padding: 0%;
    width: 100%;
}

.navbar-toggler {
    margin-right: 12%;
}

.navbar-brand {
    margin-left: 8rem;
}

.mgr{
    margin-right: 12%;
}

.main{
background-color:;
}

.img-container{
    height: 800px;
    background-color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
   
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.services-description{
    background-color:;
    height: 535px;
    max-width: 70%;
    margin: auto;
    display: flex;
    padding-top: 3%;
}

.main-services{
    background-color: white;
    width: 50%;
    height: 535px;
}

.items-services{
    background-color:;
    width: 50%;
    height: 535px;
}

.card-body, .card{
    text-align: left;
    border: 0;
    border-radius: 0;
    padding-left: 2.5rem;
}

.card-header{
    background-color: white;
    border: 0;
}

.btn-link {
    font-weight: 400;
    color:black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
}

.btn-link:hover {
    color: #27A5E7;
    text-decoration: none;
}

link:focus {
    text-decoration: none;
}

.template{
    width: 50%;
    height: 820px;

}

.center{
    text-align: center;
}

.wrapper{
    position: relative;
    width: 65%;
    margin: auto;
    height: 2460px;
    display: flex;
    flex-wrap: wrap;
}

.width50{
    width: 50%;
}

.left{
    padding-right: 5%;
    padding-left: 0;
}

.p-left{
    padding-left: 0%;
}

.right{
    padding-top: 5%;
}

.ptop{
    padding-top: 15%;
}

#accordionFaq{
    max-width: 75%;
    margin: auto;
}

.dark{
    background-color:#15141a;
    color: #fff;
    text-align: left;
}


@media screen and (max-width: 1200px) {

.main-services{
        width: 100%;
}

.services-description{
    flex-direction: column;
}

.items-services{
    width: 100%;
}

.wrapper{
    display: block;
    width: 100%;
}

.template{
    width: 100%;
    margin: auto;
}

.btn-link{
    font-size: 20px;
}

h3{
    font-size: 1rem;
}

h2{
    font-size: 20px !important;
}

.card{
    padding: 0px;
}

.card-body{
    padding: 0;
}