html {
    scroll-behavior: smooth;
  }

body{
    text-align: right;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;;
}

.contact{
   text-align: left;
}

.contacter{
    max-width: 80%!important;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    padding-top: 600px;
    text-align: center;
    font-size: 60px;
}

h2.dark{
    margin-left: 17%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    max-width: 75%;
    margin: auto;
    padding-left: 5px;
}

h2{
font-size: 2.5em;
font-weight: 600;
text-align: left;
letter-spacing: -3px;
line-height: 45px;
}

.table th, .table td{
    text-align: left;
}

.table{
max-width: 80%;
margin: auto;
margin-top: 5%;
}

.table thead th{
    vertical-align: middle;
    text-align: center;
}

.table td{
    text-align: center;
}

div.card-body.dark{
    color: #818195;
}

h3{
    padding: 2%;
}

h3.services{
    padding: 0;
}

.prodh3{
    text-align: left;
    margin-left: 1.5%;
}

.lefth{
text-align: left;
margin-left: 5%;
}

p{
    font-size: 1.2em;
    text-align: left;
    letter-spacing: -1px;
    padding-left: 13px;
    margin-left: 2.5%;
    text-align: justify;
}

.p-4{
    padding: 0.5rem!important;
}

#tarhely{
    margin-top: 10%;
}

li{
    font-size: 1.2em;
}

.fixed-price{
text-align: justify;
padding: 1% 12.5%;
line-height: 1.5em;
}

#fixbtn{
    display: block;
    max-width: 35%;
    margin-top: 30px!important;
    margin: auto;
   
}

#fixh3{
margin-top: 5%;
}

.photo{
    margin-top: 3%!important;
    margin-bottom: 10%;
}


#storage{
    height: 700px;
}

#shorter{
    height: 700px;
}

a:hover{
    text-decoration: none;
}

.rice{
text-align: center;
padding-top: 12%;
}

.services{
display: block;
text-align: left;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
letter-spacing: -1px;
}

.item {
    width: 100%;
    height: 100px;
    transform: scale(0);
    transition: all 400ms;
}

.in-view {transform: scale(1); }

.bg-light {
    background-color: white!important;
    height: 1auto;
   
}

.container{
    background-color: white;
    max-width: 100%;

}

.fixprice{
    max-width: 70%;
    margin: auto;
}

.xs-height{
    height: 200px!important;
}

.s-height{
    height: 250px;
    max-width: 70%;
    margin: auto;
}

.sm-height{
    height: 450px !important;
}

.medium-height{
    height: 650px;
}

.l-height{
    height: 850px;
}

.xl-height{
    height: 1200px;
}

.faq{
    height: 1100px;
    background-color:#15141a;
    padding: 0%;
    width: 100%;
}

.navbar-toggler {
    margin-right: 12%;
}

.navbar-brand {
    margin-left: 8rem;
}

.mgr{
    margin-right: 12%;
}

.mgt{
margin-top: 5%;
}

.mgtless{
    margin-top: 1%!important;
}

.mgt10{
    margin-top: 10%;
}

.mgl{
    margin-left: 5%;
}

#templateone{
    transition: transform 700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.img-container{
    height: 800px;
    background-color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
   
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.services-description{
   
    height: 535px;
    max-width: 70%;
    margin: auto;
    display: flex;
    padding-top: 3%;
}

.main-services{
    background-color: white;
    width: 50%;
    height: 535px;
}

.items-services{
   
    width: 50%;
    height: 535px;
}

#weboldalkeszites{
    padding-left: 0rem;
}

.card-body, .card{
    text-align: left;
    border: 0;
    border-radius: 0;
    padding-left: 0rem;
}

.card-header{
    background-color: white;
    border: 0;
    padding-left: 0px;
}

.card-text{
    margin-left: 0px;
    padding-left: 0px;
    font-size: 1.2em;
}

.btn-link {
    font-weight: 600;
    color:black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    line-height: 40px;
    letter-spacing: -1px;
    padding-left: 0px;
}

.btn-link:hover {
    color: #27A5E7;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
    text-decoration: none;
}

.btn-primary{
    background-color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


.buttoner{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.intext{
margin-top: 5%;

}

link:focus {
    text-decoration: none;
}

.template{
    width: 50%;
    max-height: 1000px;

}

.center{
    text-align: center;
    font-weight: 600;
}

.wrapper{
    position: relative;
    width: 65%;
    margin: auto;
    height: 3700px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
}

.width50{
    width: 50%;
}

.left{
    padding-right: 5%;
    padding-left: 0;
}

.p-left{
    padding-left: 0%;
}

.second{
padding-top: 0px!important;
}

.right{
    padding-top: 10%;
}

.righth{
    padding: 1%;
    padding-left: 4%;
}

.ptop{
    padding-top: 10%;
}

#accordionFaq{
    max-width: 75%;
    margin: auto;
}

.dark{
    color: #fff;
    text-align: left;
    background-color:#15141a;
    padding-left: 3px;
}

.container-more{
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.image-section, .text-section{
    width: 50%;
    height: auto;
    
}

.fa-facebook:before{
    font-size: 2.5em;
}

.longer{
    height: auto;
}

#flowchart{
    max-width: 95%;
    padding: 5%;
}

.package{
    max-width: 50%!important;
    margin: auto!important;
}

hr{
    background-color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 1px;
}

#price{
    font-size: 2em;
}


#webdesign{
    max-width: 85%;
    margin: auto;
    margin-top: 50%;
    
}

#tablet{
    max-width: 85%;
    margin-top: 20%;
}

/*typewriter*/
  .line-1{
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
  /*typewriter end*/
#collapseOne::after{
    content: ;
}


/*MOBIL-------------------------------------------------------*/
@media screen and (max-width: 1200px) {

body{
    font-size: 1.2rem;
}

.anim-typewriter{
    display: none;
}

.container.medium-height{
    height: 350px;
}


.navbar-brand{
margin-left: 1rem;
}

.services-description{
    max-width: 90%;
}

.main-services{
        width: 100%;
}

.buttoner{
    margin-top: 30px!important;
    margin-bottom: 20px;
}

.table{
    max-width: 80%;
}

.services-description{
    flex-direction: column;
}

.items-services{
    width: 100%;
}

.fixed-price{
    padding: 2%;
    max-width: 90%;
}

#fixh3{
    margin-top: 50%;
}

.template{
    width: 90%;
    margin: 5%;
}

.btn-link{
    font-size: 20px;
}

.center{
    max-width: 80%;
    margin: auto;
}

h2{
    font-size: 1.8em!important;
    letter-spacing: 0px;
}

.services{
    margin-top: 5%;
}

.card{
    padding: 0px;
}

.card-text{
font-size: 1em;
}

.card-title{
    text-align: center;
    margin-top: 1em;
}

.fixprice{
max-width: 90%;
}

#price{
    font-size: 1.6em;
}

#tarhely{
    text-align: center;
}

.card-body{
    padding: 2%;
    max-width: 100%!important;
    margin: auto!important;
}

.wrapper{
width: 90%;
}

.sm-height{
height: 250px!important;
}

.package{
max-width: 100%!important;
}

.rice{
    margin-top: 50px;
    padding: auto;
}

#flowchart{
    max-width: 85%;
    margin: auto;
    padding: 0;
}

#egyedi{
margin-top: 190px;
text-align: center;
font-size: 2em!important;
}

#igenyek{
    text-align: center;
    font-size: 2em!important;
}

.mgl{
    margin-left: 9%;
    max-width: 90%;
}

.container-more{
    max-width: 100%;
    padding: 0;
}

.container-fluid{
margin-top: 1400px;
}



.lefth{
   margin-left: 12%; 
   margin-top: 30px;
}

#photography{
    margin-top: 200px;
    text-align: center;
    font-size: 2em!important;
}

.table-responsive-sm{
    max-width: 90%!important;
    margin: auto;
}

p{
    font-size: 1.2rem;
    max-width: 100%;
    margin: auto;
    margin-top: 0.2em;
}

.prodh3{
    margin-left: 12%;
    margin-top: 5%;
}

.p85{
    max-width: 85%;
}

.p82{
    max-width: 82%;
}

#mobile{
    display: none;
}

.left{
    padding-right: 0;
}

.longer{
    width: 90%;
}

.template{
    height: auto;
}

.table th{
    text-align: left!important;
}

.image-section{
    width: 90%;
    height: 400px;
}

.text-section{
    width: 90%;
}

.faq{
    margin-top: 200px;
    height: 1500px;
}

.main{
    margin-top: 350px;
}

.contacter{
    max-width: 90%!important;
}

.btn { 
    white-space: normal!important;
   
}

.row{
    flex-direction: column;
}
.col-4{
    max-width: 90%;
}